header{
    font-family: Georgia, 'Times New Roman', Times, serif
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin: 20px;
    padding: 30px;
}

table{
    border-collapse: collapse;
    border: 1px solid darkgray;
    table-layout: fixed;
}

table td,
table th{
    width: 600px;
    padding: 4px 8px;
    border: 1px solid darkgray;
}

table thead th{
    text-align: left;
    background-color: darkgray;
}

table tr:nth-child(odd){
    background-color: lightgray;
}

blockquote{
    font-family: Arial, Helvetica, sans-serif;
    border-left: 5px solid rgb(221,221,221);
    font-style: italic;
    font-size: 15px;
    padding-left: 15px;
    padding: 8px;
}

blockquote p{
    margin: 20px;
    padding: 5px;
}
blockquote .author{
    text-align: right;
}